NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://localhost:27017/saas-inventory

JWT_SECRET=Ih1odmjXgmTBRxfTC/u06dIwZC+9zC187ThNqrxVnlZFUSC4uQ32bO77/VXkTHbc

JWT_EXPIRES_IN=1d

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=500

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLIENT_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173,https://tudominio.com
